.footer {
    background-color: rgb(245, 217, 127);
    color: white;
    padding: 20px;
    font-weight: bold;
    text-align: left;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  