.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background-color:#fab4cd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
}


.logo img {
  object-fit: contain;
}

.navbar {
  display: flex;
  gap: 35px;
  font-size: 20px;
  font-weight: bold;
  margin-right: 60px; 
}

.navbar a {
  color: white;
  text-decoration: none;
  transition: transform 0.2s ease;
}

.navbar a:hover {
  transform: scale(1.1);
}

