.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: pink;
  padding: 20px 60px;
  height: 100px;
}

.logo {
  display: flex;
  align-items: center;
}

.navbar {
  display: flex;
  gap: 40px;
}

.navbar a {
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  transition: transform 0.2s;
}

.navbar a:hover {
  transform: scale(1.1);
  color: #ffe0f0;
}